.video {
  transition: 150ms;
  width: calc(100% - 40px);
  background: white;
  padding: 10px;
  display: grid;
  border-bottom: 1px solid gray;
  margin: 0 10px;
}

.video .media {
  display: initial;
  margin: 0;
}

header {
  grid-row: 1;
  grid-column: 1/2;
}

img {
  cursor: pointer;
  transition: 150ms;
}

img:hover {
  filter: opacity(75%);
}

iframe {
  grid-row: 1;
  grid-column: 2/2;
}

@media all and (max-width: 720px) {
  iframe {
    height: 280px;
  }
}

@media all and (max-width: 1080px) and (min-width: 720px) {
  iframe {
    height: 360px;
  }
}

@media all and (min-width: 1080px) {
  iframe {
    height: 420px;
  }
}