@import url('https://fonts.googleapis.com/css?family=Raleway|Slabo+27px&subset=latin-ext');

header {
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  font-family: 'Slabo 27px', serif;
  font-size: 3em;
}

.search-input {
  font-size: 2em;
  width: calc(100% - 40px);
  padding: 10px;
  border: none;
  border-bottom: 2px solid gray;
  margin: 0 auto;
  display: block;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}